body{

background:#F8FAFC;

font-family:Inter,sans-serif;

}

/* remove top padding */

.block-container{

padding-top:0rem;

padding-left:0rem;

padding-right:0rem;

}


/* hero */

.hero{

padding-top:120px;

text-align:center;

}


.title{

font-size:58px;

font-weight:700;

color:#111827;

margin-bottom:10px;

}


.subtitle{

font-size:22px;

color:#6B7280;

}


/* login card */

.login-card{

background:white;

padding:45px;

border-radius:20px;

box-shadow:0 10px 35px rgba(0,0,0,.08);

width:450px;

margin:auto;

margin-top:50px;

}


/* buttons */

.stButton>button{

background:#2563EB;

color:white;

border-radius:12px;

height:52px;

width:100%;

font-size:18px;

font-weight:600;

border:none;

}

.stButton>button:hover{

background:#1D4ED8;

}


/* text inputs */

.stTextInput>div>div>input{

border-radius:10px;

height:50px;

}